<link rel="stylesheet" href="/stylesheets/user.css">

<div class="home-box">

    <p>You are logged in.</p>
    <p>Welcome <%=username %></p>
    <form method="get" action="/user/logout">
        <button type="submit">Logout</button>
    </form>
</div>
